body
    width: 90%;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

@import 'Key'
@import 'Keyboard'
@import 'Screen'

@media (min-width: 1024px)
    body
        width: 50%;
@media (max-width: 320px)
    body
        width: 95%;

